full.stack.web.development.fe.tools.framework/serverjs/node_modules/*
full.stack.web.development.fe.tools.framework/bower_components/*

full.stack.web.development.angularjs/.project

full.stack.web.development.angularjs/.settings/.jsdtscope
